* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #00013D;
    font-family: Sans-Serif;
}
.app-title {
    padding: 15px;
}
h3 {
    color: #b0b0d4;
    margin: 0;
    font-weight: normal;
    font-size: 12pt;
}
.clearfix {
    clear: both;
}
.container {
    width: 100%;
}
.blocks-left,
.blocks-right {
    width: 50%;
    float: left;
}
.block-info {
    margin: 10px;
    color: #ffffff;
    background-color: #7643ea;
}
.block-info-double {
    margin: 10px;
    color: #ffffff;
}
.block-info-double > .block-middle {
    width: 50%;
    float: left;
    background-color: #7643ea;
}
.block-info-double > .block-middle:nth-child(1) {
    border-right: 3px solid #00013d
}
.block-info-double > .block-middle:nth-child(2) {
    border-left: 3px solid #00013d
}
.block-info > .block-middle > .content > .data,
.block-info-double > .block-middle > .content > .data {
    font-size: 14pt;
    text-transform: uppercase;
}
.block-info .content,
.block-info-double .content {
    text-align: center;
    padding: 10px 8px;
    position: relative;
}
.block-info .content > .legend,
.block-info-double .content > .legend {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 9pt;
    text-align: left;
}
.block-info .content > .legend-data {
    font-size: 16pt;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 5px;
}
.block-info .content > .data,
.block-info-double .content > .data {
    font-size: 22pt;
    font-weight: bold;
}
.block-info .content > .data > .select-mode {
    color: #9796a4;
}
.block-info .content > .data > .select-mode.selected {
    color: #ffffff;
}
.block-info .content > .sub-data {
    font-size: 16pt;
    font-weight: bold;
}
/* Battery level */
#battery-gauge {
    /*background: linear-gradient(90deg, #ff0000 0%, #fcfd1d 50%, #64fc45 100%);*/
    background-color: #ffffff;
    height: 10px;
    width: 80%;
    margin: 8px auto 0 auto;
    position: relative;
}
#battery-level {
    background-color: #969a9b;
    float: right;
    width: 50%;
    margin: 0;
    height: 100%;
}
#battery-mask-container {
    position: absolute;
    height: 100%;
    /*width: 100%;*/
    position: absolute;
    top: -2px;
}
#battery-mask-container td {
    height: 10px;
    /*border-right: 2.33px solid #7643ea;*/
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-style: solid;
    border-color: #7643ea;
    width: 10%;
}
#battery-mask-container td:nth-child(10) {
    border-right: 0;
}