body {
  margin: 0;
  padding: 0;
  background-color: #00013D;
}

* {
  font-family: Helvetica, sans-serif;
  color: #fff;
}

h1 {
  text-align: center;
  /*text-transform: uppercase;*/
  letter-spacing: 3px;
  color: #eee;
  position: relative;
  z-index: 100;
}
h1 a {
  letter-spacing: 1px;
  text-transform: lowercase;
  color: #3F51B5;
  font-size: 30px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
h1 a:hover {
  color: #F44336;
}

main.wrap {
  position: absolute;
  top: 0;
  /* height: 70%; */
  /* transform: translateY(-50%); */
  /* -webkit-transform: translateY(-50%); */
  /* -moz-transform: translateY(-50%); */
  /* -o-transform: translateY(-50%); */
  /* -ms-transform: translateY(-50%); */
  width: 100%;
  left: 5px;
}
main.wrap .tile-wrap {
  display: inline-block;
  margin: 0;
  max-width: 50%;
}
main.wrap .tile-wrap h3 {
  margin: 0;
  padding: 0;
  color: #aaa;
  text-align: center;
}

.tile {
  display: inline-block;
  width: 100%;
  height: 125px;
  background-color: #7E3FF3;
  outline: none;
  
  cursor: pointer;
  border: 5px solid #00013D;
  padding: 0;
  float: left;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.tile .icon {
  font-size: 60px;
}
.tile .name {
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.tile:hover {
  border-color: #fff;
}
.tile:hover > .name {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  opacity: 1;
}

.short {
  width: 50%;
}